<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">  
  <th:block layout:fragment="content">
    <div class="content rounded">
      <div class="page-header"><h3>「こんぶ」は？</h3></div>
      <div class="row mt-5"><div class="col"><a class="link-secondary" th:href="@{/word/list/search?keyword=자만추}">자만추(ジャマンチュ)</a>ってなに？辞書で検索しても出てこない🥺...</div></div>
      <div class="row"><div class="col">という経験ありませんか？</div></div>
      <div class="row"><div class="col">「こんぶ」にはあるかもしれません！</div></div>
      <div class="row mt-2"><div class="col">韓国語で공부(こんぶ)は 「勉強」という意味です。</div></div>
      <div class="row"><div class="col"><a class="link-secondary" th:href="@{/word/list/search?keyword=자만추}">자만추(ジャマンチュ)</a>のような若者言葉を知っておくことも韓国語を使いこなせるためには重要な勉強だと思います。</div></div>
      <div class="row mt-2"><div class="col">「こんぶ」では知らない韓国語のスラングを検索したり、自分が知っている変わった韓国語をみんなに共有することができます。</div></div>
      <div class="row"><div class="col">さて、みなさんも「こんぶ」しませんか？✍</div></div>
      <div class="row mt-5"><div class="col">＜お問い合わせ：youl9094@gmail.com＞</div></div>
    </div>
  </th:block>  
</html>