<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
  <th:block layout:fragment="content">
    <div class="content rounded">
      <div class="page-header">
        <h3>ごんぶ</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col-3">訪問数トップ10</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="word, rank : ${hitsTop10}" style="transform: rotate(0);">
                <th scope="row"><a th:href="@{'/word/detail/' + ${word.wordId}}" class="stretched-link"> [[${rank.count}]]</a></th>
                <td th:text="${word.wordName}"></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="col-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col-3">いいねトップ10</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="word, rank : ${likeTop10}" style="transform: rotate(0);">
                  <th scope="row"><a th:href="@{'/word/detail/' + ${word.wordId}}" class="stretched-link"> [[${rank.count}]]</a></th>
                  <td th:text="${word.wordName}"></td>
                </tr>
              </tbody>
            </table>
          </div>   
          <div class="col-4">
            <p class="mt-3">最近登録したことば</p>
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h2 class="card-title pricing-card-title text-center">JMT</h2>
                    <a href="#" class="stretched-link"></a>
                  </div>
                </ul>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </th:block>  
</html>