<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
  <th:block layout:fragment="content">
    <div class="content rounded">
      <div class="page-header">
        <h4>ことば登録</h4>
      </div>
      <form th:action="@{/word/add}" th:object="${wordAddRequestDto}" method="post">
        <div class="py-5">
          <div class="row mt-3 justify-content-center">
            <label class="col-sm-2 col-form-label">ことば<span class="text-muted font-size-S">(必須)</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" th:field="*{wordName}" maxlength="50">
              <span th:if="${#fields.hasErrors('wordName')}" th:errors="*{wordName}" class="invalid-feedback text-danger">
              </span>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <label class="col-sm-2 col-form-label">発音<span class="text-muted font-size-S">(必須)</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" th:field="*{wordPronunciation}" maxlength="100">
              <div th:if="${#fields.hasErrors('wordPronunciation')}" th:errors="*{wordPronunciation}" class="invalid-feedback">
                다시 wordPronunciation써라
              </div>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <label class="col-sm-2 col-form-label">意味<span class="text-muted font-size-S">(必須)</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" th:field="*{wordMeaning}" maxlength="255">
              <div th:if="${#fields.hasErrors('wordMeaning')}" th:errors="*{wordMeaning}" class="invalid-feedback">
                다시 wordMeaning써라
              </div>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <label class="col-sm-2 col-form-label">例文</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="2" th:field="*{wordExample}" maxlength="500"></textarea>
              <div th:if="${#fields.hasErrors('wordExample')}" th:errors="*{wordExample}" class="invalid-feedback">
                다시 wordExample명써라
              </div>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <div class="col-3">
              <button type="submit" class="btn btn-success">登録</button>              
              <button type="button" class="btn btn-danger">取り消し</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </th:block>  
</html>