<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
<head>
</head>
  <th:block layout:fragment="content">
    <div class="content rounded">
      <div class="page-header">
        <h4>ことば詳細</h4>
      </div>
      <div class="py-5">
        <div class="row justify-content-end">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            <span id="wordHits" th:text="${word.wordHits}"></span>
          </div>
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            <span id="wordLike" th:text="${word.wordLike}"></span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span class="fs-2" th:text="${word.wordName}"></span><span class="fs-4" th:text="${word.wordPronunciation}"></span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span class="fs-3" th:text="${word.wordMeaning}"></span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span class="fs-4" th:text="${word.wordExample}"></span>
          </div>
        </div>
        <th:block th:if="${user != null}">
          <div class="row mt-3 justify-content-center">
            <div class="col-3 text-center">
                <a class="btn btn-outline-danger" th:href="@{'/word/like/' + ${word.wordId}}" role="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                  </svg>
                </a>
              </button>
              <th:block th:if="${user.userId == word.userId}">
                <a class="btn btn-success" th:href="@{'/word/edit/' + ${word.wordId}}" role="button">更新</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">ことばを削除します。よろしいですか？</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                        <a class="btn btn-danger" th:href="@{'/word/delete/' + ${word.wordId}}" role="button">はい</a>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </th:block>  
</html>