<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="header">
    <div class="title">
      <div class="row justify-content-between">
        <div class="col">
          <img th:src="@{/image/gongbu.jpg}">
        </div>
        <div th:if="${user eq null}" class="col-md-3 text-end align-self-center">
          <a class="btn btn-outline-success me-2" th:href="@{/loginPage}" role="button">ログイン</a>
          <button type="button" class="btn btn-success">新規登録</button>
        </div>
        <div th:unless="${user eq null}" class="col-md-3 text-end align-self-center">
          <a class="btn btn-outline-success me-2" th:href="@{/logout}" role="button">ログアウト</a>
          <button type="button" class="btn btn-success">マイページ</button>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-success bg-opacity-25 rounded">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/list}">ことば一覧</a>
              </li>
              <li class="nav-item" th:if="${user ne null}">
                <a class="nav-link active" aria-current="page" th:href="@{/word/add}">ことば登録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
            </ul>
            <form class="d-flex" th:action="@{/list/search}">
              <input class="form-control me-2" type="search"  aria-label="Search" name="keyword">              
              <button class="btn btn-success" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </nav>
  </th:block>
</html>