<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
  <th:block layout:fragment="content">
    <div class="content rounded">
      <div class="page-header">
        <h4>マイページ</h4>
      </div>
      <div class="row pt-3 mypage_content">
        <div class="col-3">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">登録したことば</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">全てのことば削除</a>
          </div>
        </div>
        <div class="col-9">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ことば</th>
                <th scope="col">訪問数</th>
                <th scope="col">いいね数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>JMT</td>
                <td>10</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <div class="col-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>  
</html>